# Python
__pycache__/
*.py[cod]
*.egg-info/
dist-info/

# PyInstaller
build/
dist/

# .NET
**/[Bb]in/
**/[Oo]bj/
*.dll
*.exe
*.pdb
*.userosscache
*.suo
*.user
*.log
config.json

# Virtual environments
venv/
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
